* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}
.navbar {
  width: 100%;
  background-color: black;
  height: 50px;
  color: white;
  display: flex;
  justify-content: right;
  align-items: center;
}
.navbar p {
  font-weight: bold;
  margin-right: 10px;
}

#box {
  position: fixed;
  z-index: 4;
  overflow: auto;
  top: 0px;
  left: -275px;
  width: 275px;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  background-color: black;
  color: white;
  -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#box.active {
  left: 0px;
  opacity: 1;
}

#items {
  position: relative;
  top: 40%; /*  oriiginally 50%  */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fs {
  margin-right: 10px;
}
#items .item {
  position: relative;
  cursor: pointer;
  font-size: 1em; /* originally 2ems  */
  padding: 15px 30px;
  -webkit-transition: all 250ms;
  margin: 10px 0 0 0;

  transition: all 250ms;
}

#items .item:hover {
  padding: 15px 45px;
  background-color: rgba(108, 109, 109, 0.2);
}

#btn {
  position: fixed;
  z-index: 5;
  top: 15px;
  left: 15px;
  cursor: pointer;
  -webkit-transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#btn div {
  width: 35px;
  height: 2px;
  margin-bottom: 8px;
  background-color: white;
  -webkit-transition: -webkit-transform 500ms
      cubic-bezier(0.6, 0.05, 0.28, 0.91),
    opacity 500ms, box-shadow 250ms, background-color 500ms;
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms,
    box-shadow 250ms, background-color 500ms;
}

#btn:hover > div {
  box-shadow: 0 0 1px #00dffc;
}

#btn.active {
  left: 230px;
}

#btn.active div {
  background-color: #343838;
}

#btn.active:hover > div {
  box-shadow: 0 0 1px #343838;
}

#btn.active #top {
  -webkit-transform: translateY(10px) rotate(-135deg);
  -ms-transform: translateY(10px) rotate(-135deg);
  transform: translateY(10px) rotate(-135deg);
}

#btn.active #middle {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

#btn.active #bottom {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
.img {
  width: 70%;
  margin: auto;
}
.img img {
  max-width: 100%;
}
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* /footer */

.ground {
  margin: 400px auto auto auto;
  text-align: center;
  height: 50vh;
}

footer {
  background: #000000;
  padding: 10px 0;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer_container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo {
  width: 180px;
  font-size: 16px;
  font-weight: bold;
}
.ground h1 {
  font-size: 40px;
  color: black;
  font-weight: bold;
}
.black {
  background-color: #000;
}
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /loading/ */
.pswp__preloader__icn {
  opacity: 0.75;
  width: 40px;
  height: 40px;
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
  margin: auto;
}

.pswp__preloader__cut {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.pswp__preloader__donut--fake {
  box-sizing: border-box;

  width: 40px;
  height: 40px;

  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;

  background: none;
  margin: 0;
}

.pswp__preloader__donut {
  box-sizing: border-box;

  width: 40px;
  height: 10px;

  border: 2px solid black;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;

  position: absolute;
  top: 0;
  left: 0;

  position: absolute;
  top: 0;
  left: 0;

  background: none;
  margin: 0;

  -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}
@keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}
.sec,
.secs {
  margin: 100px auto auto auto;
  text-align: center;
  line-height: 1.8;
  width: 100%;
}
.secs {
  margin: auto auto 100px auto;
}
.sec h1 {
  margin: 10px;
  font-size: 40px;
}
.sec,
.secs p {
  font-size: 20px;
}
.sec img {
  max-width: 100%;
}
h1 {
  font-size: 40px;
}
.gridsys {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

@media screen and (max-width: 600px) {
  .gridsys {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 845px) {
  .gridsys {
    grid-template-columns: repeat(2, 1fr);
  }
}
.squ {
  background-color: #000;
  color: white;
  width: 240px;
  margin: auto;
  border-radius: 10px;
  padding: 5px;
  line-height: 1.8;
}

.squ:hover {
  background-color: #323131;
}
.squ h4 {
  font-size: 25px;
}
.squ button {
  border-radius: 5px;
  background-color: white;
  width: 100px;
  border: none;
  cursor: pointer;
}

.squ button:hover {
  background-color: rgb(194, 191, 191);
}
