* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --main1: #faf8bf;
  --main2: #234e70;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  background-color: #faf8bf;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: var(--main2);
}

::-webkit-scrollbar-thumb {
  background: var(--main1);
}

::-webkit-scrollbar-thumb:hover {
  background: beige;
}
.navbar {
  width: 100%;
  background-color: var(--main2);
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar a {
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-left: 80px;
}
.navbar h2 {
  margin-right: 10px;
}

.navbar a:hover {
  color: rgb(189, 185, 185);
}
#box {
  position: fixed;
  z-index: 4;
  overflow: auto;
  top: 0px;
  left: -275px;
  width: 275px;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  background-color: black;
  color: white;
  -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#box.active {
  left: 0px;
  opacity: 1;
}

#items {
  position: relative;
  top: 50%; /*  oriiginally 50%  */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fs {
  margin-right: 10px;
}
#items .item {
  position: relative;
  cursor: pointer;
  font-size: 1em; /* originally 2ems  */
  padding: 15px 30px;
  -webkit-transition: all 250ms;
  margin: 10px 0 0 0;

  transition: all 250ms;
}
#CSD {
  transition: 0.7s;
}
.item #CSD {
  display: none;
}
.block {
  display: block !important;
}
#items .item:hover {
  padding: 15px 45px;
  background-color: rgba(108, 109, 109, 0.2);
}
.title {
  text-align: center;
}
#btn {
  position: fixed;
  z-index: 5;
  top: 19px;
  left: 15px;
  cursor: pointer;
  -webkit-transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#btn div {
  width: 35px;
  height: 2px;
  margin-bottom: 8px;
  background-color: white;
  -webkit-transition: -webkit-transform 500ms
      cubic-bezier(0.6, 0.05, 0.28, 0.91),
    opacity 500ms, box-shadow 250ms, background-color 500ms;
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms,
    box-shadow 250ms, background-color 500ms;
}

#btn:hover > div {
  box-shadow: 0 0 1px #00dffc;
}

#btn.active {
  left: 230px;
}

#btn.active div {
  background-color: #343838;
}

#btn.active:hover > div {
  box-shadow: 0 0 1px #343838;
}

#btn.active #top {
  -webkit-transform: translateY(10px) rotate(-135deg);
  -ms-transform: translateY(10px) rotate(-135deg);
  transform: translateY(10px) rotate(-135deg);
}

#btn.active #middle {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

#btn.active #bottom {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
.img {
  width: 70%;
  margin: auto;
}
.img img {
  max-width: 100%;
}
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* / */
/* /footer */

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: var(--main2);
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--main1);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* ////////////////////// */
.ground {
  width: 100%;
}
.ground img {
  width: 100%;
}
.ground h1 {
  font-size: 40px;
  color: black;
  font-weight: bold;
}
.black {
  background-color: #000;
}
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /////////// */
/* /loading/ */
.pswp__preloader__icn {
  opacity: 0.75;
  width: 40px;
  height: 40px;
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
  margin: auto;
}

.pswp__preloader__cut {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.pswp__preloader__donut--fake {
  box-sizing: border-box;

  width: 40px;
  height: 40px;

  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;

  background: none;
  margin: 0;
}

.pswp__preloader__donut {
  box-sizing: border-box;

  width: 40px;
  height: 40px;

  border: 2px solid black;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;

  position: absolute;
  top: 0;
  left: 0;

  position: absolute;
  top: 0;
  left: 0;

  background: none;
  margin: 0;

  -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}
@keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}
.sec {
  text-align: center;
  width: 100%;
  color: black;
}
.secs {
  margin: auto auto 90px auto;
  background-color: var(--main2);
  line-height: 1.8;
  width: 100%;
  color: white;
  padding: 15px;
}
.sec h1 {
  margin: 10px;
  font-size: 40px;
}
.secs h1,
p {
  text-align: center;
}
.sec p {
  font-size: 20px;
  margin-bottom: 110px;
}
.secs p {
  font-size: 18px;
}
.sec img {
  max-width: 100%;
}
h1 {
  font-size: 40px;
}
.gridsys {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 20px;
}

@media screen and (max-width: 980px) {
  .gridsys {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 660px) {
  .gridsys {
    grid-template-columns: repeat(1, 1fr);
  }
  .navbar ul {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: right;
  }
}
.squ {
  background-color: var(--main1);
  color: black;
  width: 290px;
  margin: auto;
  border-radius: 10px;
  line-height: 1.8;
  text-align: center;
  padding: 20px;
}

.squ:hover {
  background-color: #d4d3b1;
  cursor: pointer;
  transform: scale(1.1);
  transform: rotate(2deg);
  transition: 0.7s;
  color: var(--main2);
}
.squ h4 {
  font-size: 35px;
}

.imgtwo {
  width: 100%;
  margin: auto;
}
.imgtwo img {
  width: 100%;
  height: 500px;
}
