* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #4a4949;
}

::-webkit-scrollbar-thumb:hover {
  background: #292929;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: #234e70;
}
body::-webkit-scrollbar {
  display: none;
}
#index1 {
  background-color: #eee;
}
img {
  position: absolute;
  z-index: -1;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px auto;
  text-align: center;
  gap: 10px;
  display: none;
}
.container .mki {
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: rgb(18, 18, 18);
  width: 230px;
  justify-content: center;
  align-items: center;
  color: rgb(222, 222, 222);
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}

@media screen and (max-width: 1090px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    top: 0%;
  }
}
@media screen and (max-width: 855px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    top: 60%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    top: 140%;
  }
}
.container .mki button {
  padding: 5px;
  margin-bottom: 5px;
  background-color: rgb(77, 81, 80);
  border: none;
  border-radius: 10px;
}
.container .mki button:hover {
  background-color: rgb(131, 134, 133);
  cursor: pointer;
}
.container .mki p {
  margin-bottom: 8px;
}
.ch {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 100px;
}
.ch h2 {
  font-weight: 1000;
  font-size: 50px;
  color: #faf8bf;
}
.ch h2:hover {
  color: #c5c3c3;
  cursor: pointer;
}
.block {
  display: grid !important;
}
.none {
  display: none !important;
}
